{% extends 'base.html' %}   
{% block title %}Postando{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Postando</title>
</head>
<body>

    {% block content %}
    <h1>Postando</h1>
    <br/><br/>
    
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
    </div>
    <button class="btn btn-dark">Post</button>
    

    {% endblock %}
</body>
</html>